			<div class="page-wrap">
			<div class="wrapper-inner  wrapper-padding clearfix">
				<div class="col-1 homepage_content">
					<h2> About me </h2>
					<hr>
					<p>Brunch ennui pitchfork, bespoke fap blue bottle letterpress tacos sriracha before they sold out slow-carb mixtape. </p>
					<p>Thundercats roof party health goth chartreuse bitters, locavore tacos microdosing yr sartorial meggings paleo wolf. Cliche vegan selfies farm-to-table, drinking vinegar dreamcatcher lo-fi keffiyeh salvia pabst cray jean shorts banh mi disrupt. Biodiesel cronut bespoke green juice four dollar toast actually. Whatever freegan ramps, pug flexitarian polaroid deep v tote bag cred sartorial small batch. Biodiesel fashion axe normcore tofu wolf yuccie pickled lomo PBR&B, vegan farm-to-table venmo 90's wayfarers. Food truck drinking vinegar vice ramps craft beer readymade.</p>
				</div>
				<div class="col-2 homepage_content">
					<h2> What i do? </h2>
					<hr>

					<% @posts.each do |post| %>
					<h3><a href="#"> <%= link_to post.title, post %> </a> </h3>
					<p class="date" > <%= post.created_at.strftime("%A, %b %d") %> </p>
					<% end %>
				


				</div>

				<div class="col-3 homepage_content">
					<h2> What i built? </h2>
					<hr>
					<h3> List To Do </h3>
					<p> Simple notepad for notes </p>
					<h3> Desizion maker </h3>
					<p> App, that helps you to make desizion. </p>


				</div>

			</div>
</div>