<div class="content">
	
	<h1 id="page_title"> Stuff Notes</h1>
	<div id="post-wrapper" class ="skinny_wrapper">
 
	<%  @posts.each do |post| %>
	<div class="post">
		<p class="date"><%= post.created_at.strftime('%A, %B %d') %></p>
		<h2><a href="article_show.html"> <%= link_to post.title, post %></a></h2>

		<hr>
		</div>
		<% end %>

<%= will_paginate @posts %>


